In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("/content/chipotle.tsv",sep='\t')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [3]:
data.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [4]:
data.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [5]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
data.order_id.isna().sum()

0

In [7]:
data.order_id.duplicated().sum()

2788

In [8]:
data.drop_duplicates('order_id', inplace=True)

In [9]:
data.order_id

0          1
4          2
5          3
7          4
9          5
        ...
4610    1830
4612    1831
4615    1832
4617    1833
4619    1834
Name: order_id, Length: 1834, dtype: int64

In [10]:
data.quantity.isna().sum()

0

In [43]:
data.CHOICE_DESCRIPTION = data.CHOICE_DESCRIPTION.str.replace("[", " ").str.replace("]", " ").str.strip()
data.CHOICE_DESCRIPTION

<ipython-input-43-798774f2a3f5>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data.CHOICE_DESCRIPTION = data.CHOICE_DESCRIPTION.str.replace("[", " ").str.replace("]", " ").str.strip()

0                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot),  Black Beans,...
5       Fresh Tomato Salsa (Mild),  Rice, Cheese, Sour...
7       Tomatillo Red Chili Salsa,  Fajita Vegetables,...
9       Fresh Tomato Salsa,  Rice, Black Beans, Pinto ...
                              ...
4610    Fresh Tomato Salsa,  Rice, Sour Cream, Cheese,...
4612    Fresh Tomato Salsa,  Fajita Vegetables, Rice, ...
4615        Fresh Tomato Salsa,  Rice, Cheese, Sour Cream
4617    Fresh Tomato Salsa,  Rice, Black Beans, Sour C...
4619    Fresh Tomato Salsa,  Fajita Vegetables, Pinto ...
Name: CHOICE_DESCRIPTION, Length: 1834, dtype: object

In [47]:
data.ITEM_PRICE =data.ITEM_PRICE.str.replace("$", " ")
data.ITEM_PRICE

<ipython-input-47-c014e8c7f389>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data.ITEM_PRICE =data.ITEM_PRICE.str.replace("$", " ")

0         2.39
4        16.98
5        10.98
7        11.75
9         9.25
         ...
4610     11.75
4612      9.25
4615      8.75
4617     11.75
4619     11.25
Name: ITEM_PRICE, Length: 1834, dtype: object

In [26]:
data.columns = data.columns.str.upper().str.strip()
data.columns

Index(['ORDER_ID', 'QUANTITY', 'ITEM_NAME', 'CHOICE_DESCRIPTION',
       'ITEM_PRICE'],
      dtype='object')

Quantity of each item

In [21]:
data.groupby('ITEM_NAME')['QUANTITY'].sum()

ITEM_NAME
6 Pack Soft Drink                         11
Barbacoa Bowl                             41
Barbacoa Burrito                          51
Barbacoa Crispy Tacos                      3
Barbacoa Salad Bowl                        3
Barbacoa Soft Tacos                       11
Bottled Water                             33
Bowl                                       4
Burrito                                    3
Canned Soda                               15
Canned Soft Drink                         48
Carnitas Bowl                             38
Carnitas Burrito                          36
Carnitas Crispy Tacos                      2
Carnitas Salad                             1
Carnitas Salad Bowl                        1
Carnitas Soft Tacos                       13
Chicken Bowl                             501
Chicken Burrito                          369
Chicken Crispy Tacos                      12
Chicken Salad                              6
Chicken Salad Bowl                        72
Chicken Soft Tacos                        42
Chips                                      8
Chips and Fresh Tomato Salsa              19
Chips and Guacamole                       87
Chips and Roasted Chili Corn Salsa         2
Chips and Tomatillo Green Chili Salsa      2
Chips and Tomatillo Red Chili Salsa        2
Chips and Tomatillo-Green Chili Salsa      8
Izze                                       1
Nantucket Nectar                           6
Salad                                      1
Side of Chips                             14
Steak Bowl                               117
Steak Burrito                            246
Steak Crispy Tacos                        15
Steak Salad                                2
Steak Salad Bowl                          16
Steak Soft Tacos                          25
Veggie Bowl                               40
Veggie Burrito                            54
Veggie Salad                               2
Veggie Salad Bowl                          9
Veggie Soft Tacos                          1
Name: QUANTITY, dtype: int64

2. Most ordered item:

In [31]:
data['CHOICE_DESCRIPTION'].value_counts().idxmax()

'[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]'

3. Total items ordered:

In [34]:
data['QUANTITY'].sum()

1993

4. Total revenue:

In [35]:
data['QUANTITY'] * data['ITEM_PRICE'].astype(float).sum()

0       17678.05
4       35356.10
5       17678.05
7       17678.05
9       17678.05
          ...
4610    17678.05
4612    17678.05
4615    17678.05
4617    17678.05
4619    17678.05
Name: QUANTITY, Length: 1834, dtype: float64

5. Number of orders:

In [36]:
data['ORDER_ID'].nunique()

1834

6. Average revenue per order:

In [37]:
data['QUANTITY'] * data['ITEM_PRICE'].astype(float).sum() / data['ORDER_ID'].nunique()

0        9.639068
4       19.278135
5        9.639068
7        9.639068
9        9.639068
          ...
4610     9.639068
4612     9.639068
4615     9.639068
4617     9.639068
4619     9.639068
Name: QUANTITY, Length: 1834, dtype: float64

7. Number of different items:

In [38]:
data['ITEM_NAME'].nunique()

45

In [39]:
data.to_csv("cleaned_data.csv", index=False, sep=",")

In [45]:
data.head()

,ORDER_ID,QUANTITY,ITEM_NAME,CHOICE_DESCRIPTION,ITEM_PRICE
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans,...",16.98
5,3,1,Chicken Bowl,"Fresh Tomato Salsa (Mild), Rice, Cheese, Sour...",10.98
7,4,1,Steak Burrito,"Tomatillo Red Chili Salsa, Fajita Vegetables,...",11.75
9,5,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Pinto ...",9.25